:root {
  --coral-bg: rgba(255, 127, 80, 0.8);
  --coral: rgb(255, 127, 80);
  --deep-purple: rgb(75, 0, 130);
  --deep-purple-bg: rgba(75, 0, 130, 0.6);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#header {
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: var(--coral);
}

#header nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 100%;
  padding: 10px;
}

#header button {
  border: none;
  border-radius: 10px;
  background-color: white;
  color: var(--coral);
  cursor: pointer;
  height: 100%;
  width: 75px;
  font-weight: bold;
  padding: 10px;
}

#home,
#menu,
#about {
  height: 100vh;
}

#home {
  background-image: url("./images/home-bg.jpg");
  background-size: cover;
  color: var(--deep-purple);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-weight: bold;
}

#home .text-container {
  background-color: var(--coral-bg);
  padding: 20px;
  border-radius: 20px;
  width: 300px;
}

#home h1 {
  color: white;
  margin-bottom: 30px;
  text-align: center;
}

#home p {
  font-size: 18px;
}

#menu {
  background-image: url("./images/menu-bg.jpg");
  background-size: cover;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 50px;
}

#menu .card {
  background-color: var(--deep-purple-bg);
  color: white;
  height: 350px;
  width: 300px;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#menu .card img {
  height: 200px;
  width: 200px;
  border-radius: 20px;
  margin-top: 20px;
}

#menu .price {
  margin-top: 20px;
  font-weight: bold;
  color: var(--coral);
  font-size: 20px;
}

@media (min-width: 700px) {
  #header button {
    background-color: var(--coral);
    color: white;

    &:hover {
      background-color: white;
      color: var(--coral);
    }
  }

  #home .text-container {
    width: 500px;
  }

  #menu {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
}
